/* CONTENIDO PRINCIPAL */
main {
	h3 {
		color: map-get($apariencias, apariencia3);
		text-align: center;
	}
	p {
		color: map-get($apariencias, apariencia3);
		padding: 5% 20%;
		text-align: center;
	}
	/* invitacion index */
	.invitacion1-2 {
		width: 80vw;
		margin-top: 1rem;
		margin-bottom: 1rem;
		background-color: $fondoInvitacion;
		border: $bordeInvitacion;
		border-radius: 2rem;
		div {
			.tituloInvitacion1 {
				@extend %tituloInvitacion;
			}
			.imgInvitacion1 {
				margin: 2rem 4rem 2rem 0;
				border: solid 2px #292e49;
				border-radius: 1rem;
			}
		}
		div {
			.tituloInvitacion2 {
				@extend %tituloInvitacion;
			}
			.imgInvitacion2 {
				margin: 2rem 4rem 2rem 0;
				border: solid 2px #292e49;
				border-radius: 1rem;
			}
		}
	}
	div {
		.tituloMenu {
			padding-top: 5%;
			padding-bottom: 20px;
			text-align: center;
			font-size: 2rem;
			-webkit-text-stroke: 1px #eb0005;
			color: map-get($apariencias, apariencia1);
		}
		.presentacion {
			transition: transform 0.3s ease;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
	/* pagina menu */
	.imgColumnas {
		width: 16rem;
		height: 12rem;
		border: double 10px map-get($apariencias, apariencia4);
		margin: 5px auto;
		transition: transform 0.3s ease;
		&:hover {
			transform: scale(1.2);
		}
	}

	nav {
		ol {
			li {
				padding: 1% 0%;
				color: map-get($apariencias, apariencia3);
				strong {
					-webkit-text-stroke: 1px #dfdfdf;
					color: map-get($apariencias, apariencia4);
				}
			}
		}
	}
	/* tarjetas de servicios */
	.row {
		.tituloMenu {
			padding-top: 5%;
			padding-bottom: 20px;
			text-align: center;
			font-size: 2rem;
			-webkit-text-stroke: 1px #eb0005;
			color: map-get($apariencias, apariencia1);
		}
		.presentacion {
			transition: transform 0.3s ease;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	article {
		.tarjetas {
			@include estiloTarjeta();
			a {
				text-decoration: none;
				div {
					.img-evento {
						width: 100%;
						height: 90%;
						border-radius: 1rem;
					}
					.textoEventos {
						padding: 5px;
					}
				}
			}
		}
	}
	/* FORMULARIO */
	form {
		color: map-get($apariencias, apariencia3);
		legend {
			-webkit-text-stroke: 1px map-get($apariencias, apariencia2);
			color: map-get($apariencias, apariencia1);
		}
		.newsleter {
			margin: 1rem;
		}
	}
}
